@import 'base.css';

@mixin font($alignment: center, $color: #1c1b22, $variant: normal, $style: normal, $weight: 400, $size: 16px) {
  text-align   : $alignment;
  color        : $color;
  font-variant : $variant;
  font-style   : $style;
  font-weight  : $weight;
  font-size    : $size;
  font-family  : Lato, 'Segoe UI', 'Helvetica Neue', sans-serif;
}

@mixin button($bg:#00bd7e, $hoverBg: #00704a, $color: #ebebeb, $hoverColor: #ebebeb) {
  min-width          : 150px;
  padding            : 15px 25px 15px 25px;
  background-color   : $bg;
  color              : $color;
  border             : none;
  border-radius      : 10px;
  appearance         : none;
  -moz-appearance    : none;
  -webkit-appearance : none;
  transition         : all .333s ease;

  &:hover {
	background-color   : $hoverBg;
	color              : $hoverColor;
	transition         : all .333s ease;
	cursor             : pointer;
	box-shadow         : 5px 5px 15px -5px rgba($hoverBg, 0.75);
	-webkit-box-shadow : 5px 5px 15px -5px rgba($hoverBg, 0.75);
	-moz-box-shadow    : 5px 5px 15px -5px rgba($hoverBg, 0.75);
  }
}

a, .green {
  text-decoration : none;
  color           : hsla(160, 100%, 37%, 1);
  transition      : 0.4s;
}

.main {
  max-width       : 1280px;
  margin          : 0 auto;
  padding         : 2rem;
  font-weight     : normal;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
}

.login__box {
  display            : block;
  max-width          : 400px;
  width              : 100%;
  height             : 600px;
  margin             : 15px;
  background-color   : #EBEBEB;
  border-radius      : 15px;
  box-shadow         : 10px 9px 34px -11px rgba(125, 125, 125, 0.75);
  -webkit-box-shadow : 10px 9px 34px -11px rgba(125, 125, 125, 0.75);
  -moz-box-shadow    : 10px 9px 34px -11px rgba(125, 125, 125, 0.75);
  color              : #1c1b22;
  padding            : 50px;

  &__logo {
	width        : 100px;
	aspect-ratio : 1/1;

	&__container {
	  width           : 100%;
	  display         : flex;
	  justify-content : center;
	}
  }

  &__title {
	width           : 100%;
	display         : flex;
	justify-content : center;
	align-items     : center;
	flex-direction  : column;

	&__top {
	  @include font(center, hsla(160, 100%, 37%, 1), normal, normal, 900, 20px)
	}

	&__bottom {
	  @include font();
	  text-transform : uppercase;
	}
  }

  &__form {
	width           : 100%;
	display         : flex;
	flex-direction  : column;
	justify-content : center;
	align-items     : center;

	&__input {
	  padding-bottom   : 2px;
	  @include font(left, #1c1b22, normal, normal, 400, 14px);
	  width            : 100%;
	  border           : none;
	  background-color : transparent;
	  border-bottom    : 1px solid #1c1b22;
	  outline          : none;
	  box-shadow       : none;
	}

	&__validation_error {
	  @include font(left, #690909, normal, normal, 400, 14px);
	  margin-bottom : 25px;
	  padding-top   : 2px;
	  text-align    : left;
	  width         : 100%;
	}

	&__submit {
	  @include font(center, #ebebeb, normal, normal, 400, 14px);
	  @include button();
	}

	&__container {
	  margin-top : 50px;
	}
  }

  &__popup {
	height           : 100%;
	width            : 100%;
	position         : fixed;
	display          : flex;
	justify-content  : center;
	align-items      : center;
	top              : 0;
	left             : 0;
	z-index          : 999;
	background-color : rgba(54, 54, 54, 0.7);
	backdrop-filter  : blur(3px);

	&__holder {
	  width              : 80%;
	  max-width          : 450px;
	  border-radius      : 25px;
	  background-color   : #EBEBEB;
	  box-shadow         : 10px 9px 34px -11px rgba(125, 125, 125, 0.75);
	  -webkit-box-shadow : 10px 9px 34px -11px rgba(125, 125, 125, 0.75);
	  -moz-box-shadow    : 10px 9px 34px -11px rgba(125, 125, 125, 0.75);
	  min-height         : 120px;
	  display            : flex;
	  flex-direction     : column;
	  justify-content    : center;
	  align-items        : center;
	  padding            : 15px;
	  position           : relative;

	  &__icon {
		display         : flex;
		width           : 100%;
		justify-content : center;
		top             : 15px;
	  }

	  &__text {
		text-align  : center;
		padding-top : 25px;
	  }
	}


	$color-success   : #2dce89;
	$color-success_2 : #2dcecc;
	$color-error     : #f5365c;
	$color-error_2   : #f56036;
	$color-primary_2 : #11cdef;
	$color-primary   : #1171ef;


	$loader-size     : 4em;
	$check-height    : calc($loader-size / 2.5);
	$check-width     : calc($check-height / 2);
	$check-left      : calc(($loader-size / 2) - ($loader-size / 3));
	$check-thickness : 5px;
	$cross-left      : calc(($loader-size / 2) - ($loader-size / 12));
	$cross-top       : calc(($loader-size / 2) - ($loader-size / 12));

	.circle-loader {
	  border            : 5px solid rgba(0, 0, 0, 0.2);
	  border-left-color : $color-primary;
	  animation         : loader-spin 1.2s infinite linear;
	  position          : relative;
	  display           : inline-block;
	  vertical-align    : top;
	  border-radius     : 50%;
	  width             : $loader-size;
	  height            : $loader-size;

	  &.load-complete {
		-webkit-animation : none;
		animation         : none;
		transition        : border 500ms ease-out;

		&.load-success {
		  border-color : $color-success;
		}

		&.load-fail {
		  border-color : $color-error;
		}
	  }

	  .checkmark, .crossmark {
		display : none;
	  }


	  .checkmark {
		&.draw:after {
		  animation-duration        : 800ms;
		  animation-timing-function : ease;
		  animation-name            : checkmark;
		  transform                 : scaleX(-1) rotate(135deg) translateX(-50%) translateY(-50%);
		}

		&:after {
		  opacity          : 1;
		  height           : $check-height;
		  width            : $check-width;
		  transform-origin : left top;
		  border-right     : $check-thickness solid $color-success;
		  border-top       : $check-thickness solid $color-success;
		  content          : '';
		  left             : 50%;
		  top              : 50%;
		  position         : absolute;
		}
	  }


	  .crossmark {

		&.draw:after, &.draw:before {
		  animation-duration        : 800ms;
		  animation-timing-function : ease;
		  animation-name            : crossmark;
		}

		&:before, &:after {
		  opacity    : 1;
		  content    : '';
		  top        : 50%;
		  left       : 50%;
		  position   : absolute;
		  background : $color-error;
		  width      : $check-thickness;
		  height     : $check-height;
		}

		&:before {
		  transform : translate(-50%, -50%) rotate(45deg);
		}

		&:after {
		  transform : translate(-50%, -50%) rotate(-45deg);
		}

	  }
	}

	@keyframes loader-spin {
	  0% {
		transform : rotate(0deg);
	  }
	  100% {
		transform : rotate(360deg);
	  }
	}

	@keyframes checkmark {
	  0% {
		height  : 0;
		width   : 0;
		opacity : 1;
	  }
	  20% {
		height  : 0;
		width   : $check-width;
		opacity : 1;
	  }
	  40% {
		height  : $check-height;
		width   : $check-width;
		opacity : 1;
	  }
	  100% {
		height  : $check-height;
		width   : $check-width;
		opacity : 1;
	  }
	}


	@keyframes crossmark {
	  0% {
		height  : 0;
		width   : 0;
		opacity : 1;
	  }
	  20% {
		height  : 0;
		width   : $check-thickness;
		opacity : 1;
	  }
	  40% {
		height  : $check-height;
		width   : $check-thickness;
		opacity : 1;
	  }
	  100% {
		width   : $check-thickness;
		height  : $check-height;
		opacity : 1;
	  }
	}
  }
}

.loading {
  display          : flex;
  justify-content  : center;
  align-items      : center;
  width            : 100%;
  height           : 100%;
  z-index          : 996;
  position         : absolute;
  top              : 0;
  left             : 0;
  background-color : #1c2020;
  transition       : opacity .1s;
  opacity          : 1;
  pointer-events   : none;

  &__loader {
	margin            : 0 auto;
	width             : 60px;
	height            : 50px;
	text-align        : center;
	font-size         : 10px;
	position          : absolute;
	top               : 50%;
	left              : 50%;
	-webkit-transform : translateY(-50%) translateX(-50%);

	&__bar1 {
	  height            : 100%;
	  width             : 8px;
	  display           : inline-block;
	  float             : left;
	  margin-left       : 2px;
	  background-color  : #754fa0;
	  -webkit-animation : delay 0.8s infinite ease-in-out;
	  animation         : delay 0.8s infinite ease-in-out;
	}

	&__bar2 {
	  height                  : 100%;
	  width                   : 8px;
	  display                 : inline-block;
	  float                   : left;
	  margin-left             : 2px;
	  background-color        : #09b7bf;
	  -webkit-animation       : delay 0.8s infinite ease-in-out;
	  animation               : delay 0.8s infinite ease-in-out;
	  -webkit-animation-delay : -0.7s;
	  animation-delay         : -0.7s;
	}

	&__bar3 {
	  height                  : 100%;
	  width                   : 8px;
	  display                 : inline-block;
	  float                   : left;
	  margin-left             : 2px;
	  background-color        : #90d36b;
	  -webkit-animation       : delay 0.8s infinite ease-in-out;
	  animation               : delay 0.8s infinite ease-in-out;
	  -webkit-animation-delay : -0.6s;
	  animation-delay         : -0.6s;
	}

	&__bar4 {
	  height                  : 100%;
	  width                   : 8px;
	  display                 : inline-block;
	  float                   : left;
	  margin-left             : 2px;
	  background-color        : #f2d40d;
	  -webkit-animation       : delay 0.8s infinite ease-in-out;
	  animation               : delay 0.8s infinite ease-in-out;
	  -webkit-animation-delay : -0.5s;
	  animation-delay         : -0.5s;
	}

	&__bar5 {
	  height                  : 100%;
	  width                   : 8px;
	  display                 : inline-block;
	  float                   : left;
	  margin-left             : 2px;
	  background-color        : #fcb12b;
	  -webkit-animation       : delay 0.8s infinite ease-in-out;
	  animation               : delay 0.8s infinite ease-in-out;
	  -webkit-animation-delay : -0.4s;
	  animation-delay         : -0.4s;
	}

	&__bar6 {
	  height                  : 100%;
	  width                   : 8px;
	  display                 : inline-block;
	  float                   : left;
	  margin-left             : 2px;
	  background-color        : #ed1b72;
	  -webkit-animation       : delay 0.8s infinite ease-in-out;
	  animation               : delay 0.8s infinite ease-in-out;
	  -webkit-animation-delay : -0.3s;
	  animation-delay         : -0.3s;
	}
  }


  @-webkit-keyframes delay {
	0%, 40%, 100% {
	  -webkit-transform : scaleY(0.05)
	}
	20% {
	  -webkit-transform : scaleY(1.0)
	}
  }

  @keyframes delay {
	0%, 40%, 100% {
	  transform         : scaleY(0.05);
	  -webkit-transform : scaleY(0.05);
	}
	20% {
	  transform         : scaleY(1.0);
	  -webkit-transform : scaleY(1.0);
	}
  }
}

.gameView {
  width        : 100vw;
  aspect-ratio : 16/9;
  padding      : 50px;
  display      : flex;

  &__playArea {
	width         : 100%;
	height        : 100%;
	border-radius : 20px;
	position      : relative;

	&__drawDeck {
	  &__holder {
		left               : 5%;
		top                : 5%;
		position           : absolute;
		width              : 6vw;
		max-width          : 250px;

		@media screen and (max-width : 1350px) {
		  width     : 5vw;
		  max-width : 250px;
		}
		@media screen and (max-width : 1550px) {
		  max-width : 250px;
		  width     : 8vw;
		}

		background-color   : transparent;
		border-radius      : 10px;
		border             : 1px solid #ebebeb50;
		overflow-y         : visible;
		scrollbar-width    : none; /* Hide the scrollbar in Firefox */
		-ms-overflow-style : none; /* Hide the scrollbar in Internet Explorer/Edge */

		&--df {
		  left         : 17%;
		  aspect-ratio : 90/120;
		}

		&--c1 {
		  top : 30%;
		}

		&--c2 {
		  top  : 30%;
		  left : 17%;
		}

		&--c3 {
		  top  : 30%;
		  left : 31%;
		}

		&--c4 {
		  top  : 30%;
		  left : 45%;
		}

		&--c5 {
		  top  : 30%;
		  left : 59%;
		}

		&--c6 {
		  top  : 30%;
		  left : 73%;
		}

		&--c7 {
		  top  : 30%;
		  left : 87%;
		}

		&--b1 {
		  left         : 45%;
		  aspect-ratio : 90/120;
		}

		&--b2 {
		  left         : 59%;
		  aspect-ratio : 90/120;
		}

		&--b3 {
		  left         : 73%;
		  aspect-ratio : 90/120;
		}

		&--b4 {
		  left         : 87%;
		  aspect-ratio : 90/120;
		}
	  }

	  &__holder::-webkit-scrollbar {
		display : none; /* Hide the scrollbar in WebKit browsers (like Chrome and Safari) */
	  }
	}
  }
}

.playingCard {
  position        : absolute;
  transform       : rotateY(180deg);
  transition      : all 0.3s ease-out;
  transform-style : preserve-3d;
  border-radius   : 10%;
  aspect-ratio    : 90/120;
  width           : 6vw;

  @media screen and (max-width : 1350px) {
	width : 5vw;
  }
  @media screen and (max-width : 1550px) {
	width : 8vw;
  }

  &__front, &__back {
	position                    : absolute;
	width                       : 100%;
	height                      : 100%;
	-webkit-backface-visibility : hidden;
	backface-visibility         : hidden;
	background-size             : cover;
	background-position         : center center;
	border-radius               : 10%;
	border                      : 3px solid #1c1b22;
  }

  &__back {
	transform       : rotateY(180deg);
	background-size : contain;
  }

  &--flipped {
	transform  : rotateY(0deg);
	transition : all 0.4s ease-in;
	cursor     : pointer;
  }
}
